<mat-card id="register">
    <mat-card-content>
        <p>You're not already a Staffer ?</p>
        <p>No problem...</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"
            routerLink="/connection/register">Register !</button>
    </mat-card-actions>
</mat-card>
<mat-card id="login">
    <mat-card-content>
        <p>I already have my account...</p>
        <p>Thanks...</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"
                routerLink="/connection/login">Login</button>
    </mat-card-actions>
</mat-card>
