<!-- Start Template for UI that will be common to all pages represented in the ConnectionModule -->
                            <!-- Eventually a common header -->
<!-- End Template for UI that will be common to all pages represented in the ConnectionModule -->
<router-outlet></router-outlet>
<!-- Start Template for UI that will be common to all pages represented in the ConnectionModule -->
                            <!-- Eventually a common footer -->
<!-- End Template for UI that will be common to all pages represented in the ConnectionModule -->
